.container{
    padding: 5px;
    width: 70%;
    background-color: orange;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin: auto;
}
.container div {
    padding: 10px;
    font-size: 25px;
    margin: 5px;
    text-align: center;
    background-color: rgb(248, 128, 35);
    justify-content: space-between;
    align-content: space-around;
    height: 150px;
}